<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>Your Twitter!!!!!!</title>
</head>
<body>
	<h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!!!!</h3>
	<h3>Token: <span th:text="${token}">Token</span></h3>
	
	<form action="/connect/twitter"  method="post">
		<input type="hidden" name="_method" value="DELETE"></input>
		<button type="submit" th:text="#{logout}">Logout</button>
	</form>
	
	<h3>API Record</h3>
	<h4 th:text="#{search.term}">Search by term</h4>
	
	<form action="/search" method="post" th:object="${termForm}" style="margin-bottom:20px;" >
		<label th:text="#{begin}">Begin</label>
		<input type="text" id="begin" name="begin" th:field="*{begin}" placeholder="yyyy-MM-dd" />
		<label th:text="#{end}">End</label>
		<input type="text" id="end" name="end" th:field="*{end}" placeholder="yyyy-MM-dd" />
		<button type="submit" th:text="#{search}">search</button>
	</form>
	
	<table th:each="dateTotal,i:${dateTotals}" >
		<tr>
			<th th:text="${dateTotal.date}">date</th>
		</tr>
		
		<tr>
			<td th:text="#{create}+' '+${dateTotal.createdTotal}">Created total</td>
		</tr>
		<tr th:each="createdItem:${createdItems[__${i.index}__]}">
			<td th:text="${createdItem.title}">title</td>
			<td th:text="${createdItem.note}">note</td>
			<td th:text="'¥'+${createdItem.price}">price</td>
		</tr>
		
		<tr>
			<td th:text="#{delete}+' '+${dateTotal.deletedTotal}">Deleted total</td>
		</tr>
		<tr th:each="deletedItem:${deletedItems[__${i.index}__]}">
			<td th:text="${deletedItem.title}">title</td>
			<td th:text="${deletedItem.note}">note</td>
			<td th:text="'¥'+${deletedItem.price}">price</td>
		</tr>
		
	</table>
	
</body>
</html>